body {
    margin: 0;
}
header {
    width: 100%;
    height: 0;
    padding-top: 16.46%;
    background-image: url('./img/header.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    height: 30px;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: end;
}

section {
    min-height: 200px;
    background: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
}
table tr {
    height: 30px;
    display: table-row;
    direction: rtl;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}
table td {
    min-width: 50px;
    justify-content: center;
    align-items: center;
    display: table-cell;
}
tr {
    background-color: lightgray;
}
tr:nth-child(odd) {
    background-color: lightblue;
}
.birdImage {
    max-width: 500px;
}